.main{
    flex:1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color:#585858;
}

.main .nav img{
    width:40px;
    border-radius:50%;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30vh;
    margin-top: 30vh;
    font-size: 56px;
}
.main .greet span{
   background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
}
.main-bottom{
    position: absolute;
    bottom:0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin-bottom: 50px;
    /* border: #4b90ff solid 1px; */
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box img{
    width:24px;
    cursor: pointer;
}
.search-box input{
    flex:1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}
.search-box div{
    display: flex;
    align-items: center;
    gap:20px;
    /* border: #4b90ff solid 1px; */
    width: 100%;
}

.result{
    padding:0px 5%;
    max-height: 70vh;
    overflow: scroll;
}
.result::-webkit-scrollbar{
    display: none;
}
.result-title{
     margin:40px 0px;
     display: flex;
     align-items: center;
     gap:20px;
}
.result-title img{
    width: 30px;
    border-radius: 50%;
}
.result-data{
    margin:40px 0px;
    display: flex;
    align-items: start;
    gap:20px;
}
.result-data img{
    width: 30px;
    border-radius: 50%;
}

.result-data .spin-img {
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loader hr:nth-child(1){
    border: none;
    height: 1.25rem;
    animation: expanding 0.4s 0.7s forwards linear, moving 1s 1s infinite forwards linear;
    transform-origin: left; /* Without this, you'll notice the `expanding` animation starts expanding from the  middle instead of shooting out from the left */
    border-radius: 0.125rem;
    background-image: linear-gradient(to right, #eff6ff 30%, #2563eb60 60%, #eff6ff);
    background-size: 200% auto;
    opacity: 0; /* The `expanding` animation will fade in the loading bar */
    animation-delay: 100ms;
}
.loader hr:nth-child(2){
    border: none;
    height: 1.25rem;
    animation: expanding 0.4s 0.7s forwards linear, moving 1s 1s infinite forwards linear;
    transform-origin: left; /* Without this, you'll notice the `expanding` animation starts expanding from the  middle instead of shooting out from the left */
    border-radius: 0.125rem;
    background-image: linear-gradient(to right, #eff6ff 30%, #2563eb60 60%, #eff6ff);
    background-size: 200% auto;
    opacity: 0; /* The `expanding` animation will fade in the loading bar */
    animation-delay: 300ms;
}
.loader hr:nth-child(3){
    border: none;
    height: 1.25rem;
    animation: expanding 0.4s 0.7s forwards linear, moving 1s 1s infinite forwards linear;
    transform-origin: left; /* Without this, you'll notice the `expanding` animation starts expanding from the  middle instead of shooting out from the left */
    border-radius: 0.125rem;
    background-image: linear-gradient(to right, #eff6ff 30%, #2563eb60 60%, #eff6ff);
    background-size: 200% auto;
    opacity: 0; /* The `expanding` animation will fade in the loading bar */
    animation-delay: 500ms;
}

/* This keyframe will create the initial slide animation  */

@keyframes expanding {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}
 
/* This keyframe will create the loading gradient effect */
@keyframes moving {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}
 

.result-data p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}
@media (max-width:600px){
    .main-bottom input{
        flex:none;
        width: 150px;
    }
    .main-bottom img{
        width:20px;
    }
    
}

.search-box img:nth-child(2){
    animation: fadeIn 1.5s;
}
.search-box img:nth-child(3){
    animation: fadeIn 1.5s;
}